<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>

<body>
    <main>
        <form method="POST" enctype="multipart/form-data" action="/uploads/picture" id="form">
            <div class="modal">
                <input name="picture" type="file">
            </div>
            <div class="tac">
                <input type="text" name="filename" placeholder="save as">
                <button>save</button>
            </div>

        </form>
    </main>
</body>

</html>